<form class="form-horizontal">
    <h3>{{ _('M300 PWM Buzzer Plugin') }}</h3>

    <div class="tabbable" style="padding-top: 10px">
        <ul class="nav nav-pills">
            <li class="active"><a href="#tabConfiguration" data-toggle="tab">{{ _('Configuration') }}</a></li>
            <li><a href="#tabEvents" data-toggle="tab">{{ _('Events') }}</a></li>
            <li><a href="#tabComposer" data-toggle="tab">{{ _('Composer') }}</a></li>
            {% if plugin_pwmbuzzer_debug -%}
                <li><a href="#tabDebug" data-toggle="tab">{{ _('Debug') }}</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabConfiguration">
                {%  include "settings/configuration.jinja2" %}
            </div>

            <div class="tab-pane" id="tabEvents">
                {%  include "settings/events.jinja2" %}
            </div>

            <div class="tab-pane" id="tabComposer">
                {%  include "settings/composer.jinja2" %}
            </div>

            {% if plugin_pwmbuzzer_debug -%}
                <div class="tab-pane" id="tabDebug">
                    {%  include "settings/debug.jinja2" %}
                </div>
            {% endif %}
        </div>
    </div>
</form>