{% macro pianokey(note, octave, isHalf) -%}
    <button class="btn{{ ' halfstep' if isHalf }}" data-bind="click: function() {}, event: { mousedown: function() { pianoKeyPress('{{note}}{{octave}}') } }">{{ note }}</button>
{%- endmacro %}
{% macro pianokeys(note, octave) -%}
    <div class="key-group">
        {{ pianokey(note, octave) }}
        {% if note in ['C', 'D', 'F', 'G', 'A'] -%}
            {{ pianokey(note + "#", octave, true) }}
        {% endif %}
    </div>
{%- endmacro %}
{% macro pianooctave(octave) -%}
    {% for note in ['C', 'D', 'E', 'F', 'G', 'A', 'B'] -%}
        {{ pianokeys(note, octave) }}
    {% endfor %}
{%- endmacro %}

<div class="control-group" data-bind="using: composer">
    <div class="piano input-block-level">
        {{ pianooctave(3) }}
        {{ pianooctave(4) }}
        {{ pianooctave(5) }}
    </div>
</div>

<div class="control-group" data-bind="using: composer">
    <textarea id="m300-composition" class="composition-text input-block-level" data-bind="value: composition, event: { change: function(_, event) { edit('textarea-edit', event) } }" placeholder="Use the piano keys above to generate M300 gcode here"></textarea>
    <div class="btn-group input-prepend input-append">
        <a class="btn btn-small" href="#" data-bind="click: function(_, event) { edit('undo', event) }, css: { disabled: isEmpty }"><i class="icon-undo"></i> {{ _('Undo') }}</a>
        <a class="btn btn-small" href="#" data-bind="click: function(_, event) { edit('redo', event) }, css: { disabled: isBackstackEmpty }"><i class="icon-undo icon-redo"></i> {{ _('Redo') }}</a>
        <a class="btn btn-small" href="#" id="edit-pause" data-bind="click: function(_, event) { edit('pause', event) }"><i class="icon-pause"></i> {{ _('Insert Pause') }}</a>
        <a class="btn btn-small" href="#" id="edit-reverse" data-bind="click: function(_, event) { edit('reverse', event) }, css: { disabled: isEmpty }"><i class="icon-resize-vertical"></i> {{ _('Reverse') }}</a>
        <a class="btn btn-small" href="#" id="edit-cleanup" data-bind="click: function(_, event) { edit('cleanup', event) }, css: { disabled: isEmpty }"><i class="icon-magic"></i> {{ _('Snap Durations') }}</a>
        <a class="btn btn-small" href="#" id="edit-clear" data-bind="click: function(_, event) { edit('clear', event) }, css: { disabled: isEmpty }"><i class="icon-trash"></i> {{ _('Clear') }}</a>
        <div class="btn-group gcode-actions-group">
            <a class="btn btn-small btn-primary" href="#" data-bind="click: play, css: { disabled: isEmpty() || !$parent.printerConnected() }"><i class="icon-music icon-white"></i> {{ _('Send Gcode to Printer') }}</a>
            <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#" data-bind="css: { disabled: isEmpty }"><span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="btn-small" href="#" data-bind="click: save, css: { disabled: isEmpty }"><i class="icon-save"></i> {{ _('Save Gcode File') }}</a></li>
                <li><a class="btn-small" href="#" data-bind="click: download, css: { disabled: isEmpty }"><i class="icon-download-alt"></i> {{ _('Download Gcode') }}</a></li>
                <li><a class="btn-small" href="#" data-bind="click: copy, css: { disabled: isEmpty }"><i class="icon-paste"></i> {{ _('Copy Gcode to Clipboard') }}</a></li>
            </ul>
        </div>
    </div>
</div>
