<legend>{{ _('Debug Options') }}</legend>

<div class="control-group">
    <div class="controls">
        <a class="btn btn-danger" href="#" data-bind="click: function() { issueToneCommand('debug_clear_metadata'); }"><i class="icon-remove"></i> {{ _('Clear File M300 Analysis Metadata') }}</a>
    </div>
</div>
